.menu {
  color: #fff;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 10%;
}

.menu-btns {
  width: 90%;
  height: 50px;
  margin-bottom: 5%;
  font-size: 1.3em;
  background: #141527;
  border: none;
  color: #fff;
  cursor: pointer;
}
